.card1 {
    background-color: green;
}
.card2 {
    background-color: rgb(64, 64, 248);
}
.card3 {
    background-color: yellow;
}
.card4 {
    background-color: red;
}

.history-card-container {
    background-color: rgb(255, 255, 125);
    border: 2px
}

.english-card-container {
    background-color: rgb(255, 125, 125);
    border: 2px
}

.math-card-container {
    background-color: rgb(125, 200, 255);
    border: 2px
}

.science-card-container {
    background-color: rgb(125, 255, 125);
    border: 2px
}